<div v-on:click="onClicked" v-bind:id="id">
    <div class="pomelo-wf-drawing" v-bind:id="id + '-inner'">
        <svg v-if="drawing" v-bind:data-drawing="drawing.getGuid()" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <!-- Connected Polylines -->
            <polyline v-for="polyline in drawing.getConnectPolylines()"
                      v-bind:data-polyline="polyline.getGuid()" v-bind:points="polyline.path.points.map(x => x.x + ',' + x.y).join(' ')"
                      v-bind:style="`fill:none;stroke:${polyline.getColor()};stroke-width:${drawing.getConfig().connectPolylineStrokeWidth}`" />

            <!-- Shapes -->
            <polyline v-for="shape in drawing.getShapes()" v-if="drawing.getConfig().renderShape"
                      v-bind:data-shape="shape.getGuid()" v-bind:points="`${shape.points.map(x => x.x + ',' + x.y).join(' ')} ${shape.points[0].x},${shape.points[0].y}`"
                      v-bind:style="`fill:none;stroke:${drawing.getConfig().shapeStrokeColor};stroke-width:${shape.drawing.getConfig().shapeStrokeWidth}`" />
        </svg>
    </div>
    <div class="pomelo-wf-elements">
        <div v-for="shape in drawing.getShapes()"
             v-bind:id="shape.getGuid()"
             v-bind:style="`position: absolute; top: ${shape.points[0].y}px; left: ${shape.points[0].x}px; width:${shape.width}px; height:${shape.height}px;`">
            <div v-bind:arguments='shape.arguments' v-bind:shape='shape' />
        </div>
    </div>
</div>