.finish-node {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.finish-node-anchor, .finish-node-anchor-arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #777;
    position: absolute;
    margin-top: -3px;
    margin-left: -3px;
    box-sizing: border-box;
}

.finish-node-anchor-arrow {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    width: 12px;
    text-align: center;
    margin-top: -6px;
    margin-left: -6px;
    border: none;
}

    .finish-node-anchor-arrow.active {
        color: #FF7B15;
    }

.finish-node-anchor.active {
    background: #FF7B15;
}

.finish-node-settings {
    position: fixed;
    top: 140px;
    bottom: 30px;
    right: 30px;
    width: 280px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    z-index: 10;
}

.finish-node-settings-header {
    border-bottom: 1px solid #ddd;
    height: 40px;
    padding: 10px;
}

    .finish-node-settings-header > * {
        vertical-align: middle;
    }

.finish-node-settings-footer {
    position: absolute;
    border-top: 1px solid #ddd;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 10px;
}

.finish-node-settings-footer-button {
    background: #EE8236;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 5px 8px;
}

.finish-node-settings-body {
    padding: 10px;
}

.finish-node-settings-body-section-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.finish-node-settings-body-textbox {
    display: block;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #ddd;
    padding: 8px 10px;
    width: 100%;
}