.start-node {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.start-node-anchor, .start-node-anchor-arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #777;
    position: absolute;
    margin-top: -3px;
    margin-left: -3px;
    box-sizing: border-box;
}

.start-node-anchor-arrow {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    width: 12px;
    text-align: center;
    margin-top: -6px;
    margin-left: -6px;
    border: none;
}

    .start-node-anchor-arrow.active {
        color: #FF7B15;
    }

.start-node-anchor.active {
    background: #FF7B15;
}